html {
    overflow: scroll;
    z-index: 0;
}
  
html,
body {
    position: relative;
    overflow-x: hidden;
    background-color: rgb(51, 51, 51);
    color: white;
    min-height: 100vh;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: hidden;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: black;
}

main {
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    min-height: 1000px;
    position: relative;
}

footer {
    display: grid;
    place-content: center;
    min-height: 25vh;
    background-color: rgb(17, 17, 17);
    color: white;
    z-index: 1;
    width: 100%;
}
  
/* Contact page */

.contact-form {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding-bottom: 3.5rem;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea,
#send-message-btn,
#send-message-btn > button {
    width: 70%;
    font-family: 'cinzel-bold';
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.contact-form textarea {
    height: 150px;
}

#send-message-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    width: 40%;
    text-align: center;
}

/* Blogs */

.blogs > div {
    font-family: 'cinzel';
}

.blogs h2 {
    margin-bottom: 1rem;
}

#back-to-blogs {
    position: absolute;
    top: -30px;
    left: 0px;
}

.blog-short {
    margin-bottom: 4rem;
}

.featured-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img-frame {
    position: relative;
    z-index: 2;
}

.featured-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.img-frame img,
.featured-img {
    max-width: 80vw;
    height: auto;
}

#more-blogs-loader {
    display: none;
    margin: 0 auto;
}

#blog-filter-head {
    text-align: right;
    min-height: 30px;
}

#blog-filter-head img {
    cursor: pointer;
}

#blog-filter-options {
    max-height: 0;
    transition: max-height 0.4s ease-out;
    overflow: hidden;
    margin-bottom: 3rem;
    text-align: center;
}

#blog-filter-options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#blog-filter-options-wrapper select,
#blog-filter-options-wrapper div,
#blog-filter-options-wrapper input {
    width: 100%;
}

#blog-filter-options-wrapper input[type=text] {
    width: calc(100% - 1.1rem);
}

#blog-search-text,
#blog-filter-submit {
    grid-column: 1/-1;
}

#blog-filter-options h3 {
    margin-bottom: 1rem;
}

#blog-filter-options > div {
    padding: 1rem;
}

#blog-filter-options select,
#blog-filter-options input {
    padding: .5rem;
    font-size: .8rem;
}

#blog-filter-submit {
    cursor: pointer;
}

.no-blogs {
    text-align: center;
}

/* Signup/Bookings */

.signup-form,
.signup-form > div,
.book-an-appointment-form {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.book-an-appointment-form h2 {
    text-align: center;
}

.signup-form,
.book-an-appointment-form {
  padding-bottom: 10vh;
}

.book-an-appointment-form input[type=text],
.book-an-appointment-form textarea,
.book-an-appointment-form select,
.signup-form input[type=text],
.signup-form input[type=password],
.signup-form input[type=email],
.signup-form input[type=tel],
.signup-form select,
.signup-form textarea {
  width: 50%;
  font-family: 'verdana';
  font-size: 1rem;
  margin: 0 auto;
  padding: 0.5rem;
}

.book-an-appointment-form input[type=text],
.book-an-appointment-form textarea,
.book-an-appointment-form select {
  width: 70%;
}

.signup-form textarea,
.book-an-appointment-form textarea {
  min-height: 20vh;
}

#signup-btn,
#book-an-appointment-btn {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  text-align: center;
}

#signup-btn button,
#book-an-appointment-btn button {
  cursor: pointer;
  font-family: 'cinzel-bold';
}

#book-an-appointment-btn {
  opacity: 0.3;
  pointer-events: none;
}

.loader {
    max-width: 50px;
    height: auto;
}

@media (max-width: 600px) {
    main {
        margin: 5vw;
        margin-top: 15vh;
    }

    #book-an-appointment-btn {
        bottom: 0;
      }
}