# Ignore everything
*

# Whitelist root files
!/.gitignore
!/.htaccess
!/LICENSE.md

# Plugins directory
!plugins/
plugins/*
!plugins/firefly-collective/
!plugins/firefly-collective/**

# Themes directory
!themes/
themes/*
!themes/firefly-collective/
!themes/firefly-collective/**

# Ignore everything in templates except "default"
themes/firefly-collective/templates/*
!themes/firefly-collective/templates/default/
!themes/firefly-collective/templates/default/**
!themes/firefly-collective/templates/glow/
!themes/firefly-collective/templates/glow/**

# Ignore MD files within directories (but allow root-level MD files)
**/**/*.md

# Uploads directory
!uploads/
uploads/**
!uploads/campaigns/
uploads/campaigns/**
!uploads/campaigns/.gitkeep

# Cache directory
!cache/
cache/**
!cache/firefly-collective/
cache/firefly-collective/**
!cache/firefly-collective/.gitkeep