# Ignore everything
*

# Don't ignore specific files
!/.htaccess
!.gitignore
!LICENSE.md

# Don't ignore specific directories and their contents
!plugins/
!plugins/firefly-collective/
!plugins/firefly-collective/**

!themes/
!themes/firefly-collective/
!themes/firefly-collective/**
